.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: rgb(238, 238, 238);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.building {
	width: 60%;
	height: 70%;
	align-self: center;
	display: flex;
	flex-direction: column-reverse;
	margin-top: 40px;
}
.floor {
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	position: relative;
	align-items: center;
}
p {
	width: 100px;
	text-align: right;
	margin: 0;
	margin-right: 15px;
	font-size: 16px;
	color: #000000;
	font-weight: bold;
	/* background-color:springgreen */
}
.floor-square {
	width: 120px;
	height: 60px;
	background-color: #ffffff;
	border: 0.1px solid;
	border-color: rgb(246, 246, 246);
	font-size: 10px;
}
.elevator-logo {
	width: 120px;
	height: 25px;
}
.elevators {
	justify-content: space-between;
}
.elevator {
	display: none;
	position: absolute;
	z-index: 0;
	position: relative;
}
.btn {
	width: 85px;
	height: 35px;
	margin-left: 25px;
	border: none;
	font-size: 16px;
}
.btn {
	font-weight: 500;
}
.btn-success {
	background-color: rgb(0, 208, 142);
}
.btn-outline-success {
	border: 2px solid rgb(0, 208, 142);
	color: rgb(0, 208, 142);
}
.square-text {
	text-align: center;
	color: gray;
	margin-top: 15px;
	margin-left: 5px;
}
